<section>
    <div class="card text-center container">
    <div class="card-body">
        <img src="img/acaraje_l_thumb.jpg" class="img-thumbnail" alt="...">
    </div>
        <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Detalhes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Editar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-disabled="true">Deletar</a>
        </li>
        </ul>
    </div>
    </div>
</section>

<section>
    <div class="card text-center container">
    <div class="card-body">
        <img src="..." class="img-thumbnail" alt="...">
    </div>
        <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Detalhes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Editar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-disabled="true">Deletar</a>
        </li>
        </ul>
    </div>
    </div>
</section>

<section>
    <div class="card text-center container">
    <div class="card-body">
        <img src="..." class="img-thumbnail" alt="...">
    </div>
        <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="true" href="#">Detalhes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Editar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-disabled="true">Deletar</a>
        </li>
        </ul>
    </div>
    </div>
</section>